*{
    margin: 0;
    padding:0;

}
.container{
    width:1000px;
    height: 600px;
    margin: 0px auto;
    overflow: hidden;
}
.bg-infinite{
    margin: 0 auto;
    background-image: url("../images/1.jpg");
    width: 400px;
    height:1800px;
    background-repeat: repeat-y;
    position: relative;
}

.home-screen{
    margin: 0 auto;
    background-image: url("../images/clouds.jpg");
    width: 400px;
    height: 600px;
    background-repeat: no-repeat;
    position:relative;
}
.text-wrapper{
    padding-top:50%;
    padding-left:15%;
    color: red;
}
.btn-play{
    background-color: white;
    margin-left:80px;
    width: 100px;
    padding:10px;
}

.score{
    background-color: white;
    color: blueviolet;
    display: inline-block;
    padding:5px 15px;

}

/* gameoverscreen */

.game-over{
    margin: 0 auto;
    background-image: url("../images/clouds.jpg");
    width: 400px;
    height: 600px;
    background-repeat: no-repeat;
    position:relative;
}


.enemy-car{
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../images/enemy_edited.png");
    outline: 1px solid red;
}

.my-car{
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../images/mycar.png");   
    outline: 1px solid red;
}

.bullet{
    position: absolute;
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}